.snakemake
Star-fusion_ref/*
!Star-fusion_ref/README.md
Arriba_STAR_ref/*
!Arriba_STAR_ref/README.md
FusionCatcher/*
!FusionCatcher/README.md
Simgs/*
!Simgs/README.md
DATA/Test/*
!DATA/Test/README.md
fastq_temp/RNA/*
!fastq_temp/RNA/README.md
20210113_GMS-RNA_Test3_Pool1_Samplesheet_Linkoping.csv
RunParameters.xml
logs
fastq
DATA/Pathological_purity_BMS_validation.txt
Results
Arriba_results
STAR
STAR2
